.selectContainer {
  width: 100%;
}

.selectBox {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-family: "Lora";
  font-size: 20px;
  appearance: none;
  align-self: baseline;
  &.arrow {
    background: rgba(255, 255, 255, 1) url(../../assets/arrowDown.png) no-repeat
      calc(2%) center/15px auto;
    padding-left: 40px;
  }
}

.label {
  font-family: "Lora";
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .label {
    font-size: 24px;
  }
}
