.mainContainer {
  width: 100%;
  height: 100%;
}

.mainBox {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .mainContainer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .banner {
    height: 120px;
  }
}
