@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Praise");
@import url("https://fonts.googleapis.com/css?family=PT+Serif");

button {
  border: none;
}

body {
  margin: 0;
  padding: 0;
}

a:link {
  text-transform: none;
  color: transparent;
  text-decoration: none;
  :hover {
    color: transparent;
  }
}
